.banner {
  height: 85vh;
  background: linear-gradient(rgb(33, 33, 33, 0.522), rgb(33, 33, 33, 0.522)),
    url("/assets/backgorund-image/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.banner-curd {
  width: 80%;
  border-radius: 0.5rem;
  padding: 2rem;
  background: rgb(88, 149, 32, 255);
  border: 2px solid #cdf3f9;
  position: absolute;
  gap: 1rem;
  justify-content: center;
  /* bottom: 12%; */
  transform: translate(-50%);
  left: 50%;
}

.effect1:before,
.effect1:after {
  z-index: -1;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  background: rgb(88, 149, 32, 255);
  -webkit-box-shadow: 0 15px 10px rgb(88, 149, 32, 255);
  -moz-box-shadow: 0 15px 10px rgb(88, 149, 32, 255);
  box-shadow: 0 10px 10px rgb(88, 149, 32, 255);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.effect1:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

input {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 10px;
  border: none;
  font-size: 13px;
  font-weight: 500;
}

input .placeholder {
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;
}

input .placeholder:focus {
  outline: none;
}

/* .locationDiv,
.distanceDiv,
.priceDiv {
  width: 100%;
} */
